
<div class="aboutMeTop">
    <mat-card class="myMug">
        <img src="../../../assets/images/me.jpeg" alt="">
        <mat-card-subtitle>hello its me</mat-card-subtitle>
    </mat-card>
    <mat-card class="whoAmI">
        <mat-card-title>Who am I?</mat-card-title>
        <mat-card-content>
            <p>I am currently completing a year long coding boot camp at Mountain Land Technical College. In the course I am leading, designing and creating a complete course registration project that uses full stack technologies React, NodeJS and postgres . I have been Implementing robust authentication and security for data integrity, Deployed dynamic frontend UI projects utilizing HTML, CSS, React and Angular frameworks. All while collaborating on projects using version control GIT for code changes.</p>
            <p>In my previous work carrier I have had the opportunity to lead construction teams and subcontractors in the construction process. During this process, I have helped maintain an organized, risk-free environment that delivers quality products on schedule. I have also built and maintained data center infrastructures and systems including BAS systems, critical power, cooling systems, help desk management, facilities management, system and network administration, disaster recovery, planning and facilitating customer moves, and customer support.</p>    
        </mat-card-content>
    </mat-card>


</div>
<div>
    <mat-card class="outSideWork">
        <mat-card-title> Out Side of Work!</mat-card-title>
    </mat-card>
</div>

<p>about-me works!</p>

