<!-- <p>home-page works!</p> -->
<mat-card class="center">
    <mat-card-header><mat-card-title>Wayne Hansen</mat-card-title> </mat-card-header>
    <mat-card-content>
        <p>If you have come here to learn about Hansen Software Solutions and who I am you are in the right place.  Take a look around and then let me know what you think!</p>
    </mat-card-content>
    <mat-card-footer class="icons">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </mat-card-footer>
</mat-card>
